<body>
  <div id="page-container">

    <app-nav-menu></app-nav-menu>
    <header class="mb-4 header"></header>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <footer class="pt-1 footer  bg-dark text-light text-center">

      <div class="pt-2">
        <a href="https://www.linkedin.com/in/yousef-yehia-742822244/" target="_blank"><i class="ms-3 fa-lg fab fa-linkedin-in float-lg"></i></a>
        <a href="https://twitter.com/yousef__yehia" target="_blank"><i class="ms-3 fa-lg fab fa-twitter"></i></a>
        <!--<a href="https://www.facebook.com/yousef.yehia.8" target="_blank"><i class="ms-3 fa-lg fab fa-facebook"></i></a>
        <a href="/"><i class="ms-3 fa-lg fab fa-google-plus"></i></a>
        <a href="/"><i class="ms-3 fa-lg fab fa-instagram"></i></a>-->
        <a href="https://github.com/yousef-yehia" target="_blank"><i class="ms-3 fa-lg fab fa-github"></i></a>
      </div>

      <div class="mt-3 mb-3">
        <i class="fas ">Yousef Yehia</i>
      </div>


    </footer>

    </div>
</body>
